.box {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.329);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 1000px;
    height: 1000px;
    padding: 100px;
    margin-right: 100px;
    margin-left: 350px;
    margin-top: 150px;
    margin-bottom: 150px;
}
body {
    background-image: url(background.jpg);
    background-size: cover;
    background-blend-mode: difference;
}